.container {
  margin-top: 50px;
}
.spacer {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}
/* .mat-list .mat-list-item{
  height:auto;
} */

.more-button {
  float: right;
}
.right {
  float: right;
}

#top {
  height: 30px;
}
#title {
  float: left;
  text-align: center;
  width: 100%;
}

#buttons {
  float: right;
  height: 0;
  left: -15px;
  position: relative;
}
